<h1> <%= @guest.name %> </h1>
<h2> Occupation: <%= @guest.occupation %> </h2>
<br>
</br>
<h2>Create New Appearance</h2>
<%= form_for(@appearance) do |f| %>
  <%= f.hidden_field :guest, value: @guest.id %>
  <%= f.label :episode %>
  <%= f.text_field :episode %>
  <%= f.submit %>
<% end %>
