<h1>User Homepage</h1>
<!-- As a user, I should be able to create a new appearance for a guest. The Appearance should be associated with an episode and be associated with that guest. Remember that we can have the same guest on the show many times. The appearance should also have a rating on a 1-5 scale so we can keep track of what guests we'd like to have back on the show. -->
<p>Name: <%= @user.username %></p>
<%= link_to "View All Episodes", episodes_path %>
<br>
<%= link_to "View All Guests", guests_path %>
<br>
</br>
<%= link_to "Edit Your Profile", edit_user_path(@user)%>
<br>
<%= link_to "Log Out", logout_path, method: "delete" %>
